<div class="v1">
    <NavBar></NavBar>

    <section v-if="loading || error" class="section section-white">
        <div class="container" v-if="loading || error">
            <div v-if="loading">
                <!-- LOADING STATE -->
                <div class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>
            </div>

            <div v-else-if="error">
                <!-- ERROR STATE -->
                <div class="notification error full-width">
                    <span>{{ error }}. <a href="#" @click="fetchData">Réessayer ?</a></span>
                </div>
            </div>
        </div>
    </section>

    <section v-else class="section section-white town-wrapper" ref="wrapper">
        <CommentDeletion v-if="commentToBeDeleted !== null" :comment="commentToBeDeleted" @close="closeCommentDeletion" @deleted="onCommentDeleted" ref="commentDeletionPopin"></CommentDeletion>

        <div class="popin" v-if="mode === 'close'">
            <div class="popin-wrapper" ref="wrapper">
                <div>
                    <p class="popin-close"><span class="link" @click="closePopin"><font-awesome-icon icon="times" size="2x"></font-awesome-icon></span></p>
                    <section>
                        <h2>Disparition du site</h2>
                        <div class="form__group">
                            <label v-bind:class="{ error: fieldErrors.closed_at }">Date de disparition du site :</label>
                            <p class="error" v-if="fieldErrors.closed_at">
                                <ul>
                                    <li v-for="error in fieldErrors.closed_at">{{ error }}</li>
                                </ul>
                            </p>
                            <datepicker :clear-button="true" :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" :full-month-name="true" :format="'dd MMMM yyyy'" v-model="edit.closedAt"></datepicker>
                        </div>

                         <div class="form__group">
                            <fieldset>
                                <legend v-bind:class="{ error: fieldErrors.closed_with_solutions }">
                                    <strong>Est-ce que ce site a été résorbé définitivement ? :</strong>
                                </legend>
                                <p class="question-info">C’est-à-dire sans réinstallation illicite et avec un accompagnement de la majorité des personnes vers des solutions pérennes</p>
                                <p class="error" v-if="fieldErrors.closed_with_solutions">
                                    <ul>
                                        <li v-for="error in fieldErrors.closed_with_solutions">{{ error }}</li>
                                    </ul>
                                </p>

                                <div v-for="(value, index) in closedWithSolutionsValues">
                                    <input type="radio" name="closed_with_solutions" :id="'status' + index" :value="value.value" v-model="edit.closedWithSolutions">
                                    <label :for="'status' + index" class="label-inline">{{ value.label }}</label>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form__group">
                            <fieldset>
                                <legend v-bind:class="{ error: fieldErrors.status }">
                                    <strong>Cause de la disparition :</strong>
                                </legend>
                                <p class="error" v-if="fieldErrors.status">
                                    <ul>
                                        <li v-for="error in fieldErrors.status">{{ error }}</li>
                                    </ul>
                                </p>
                                <div v-for="(value, index) in statusValues">
                                    <input type="radio" name="status" :id="'status' + index" :value="value.value" v-model="edit.status">
                                    <label :for="'status' + index" class="label-inline">{{ value.label }}</label>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form__group">
                            <fieldset>
                                <legend v-bind:class="{ error: fieldErrors.solutions }">
                                    <strong>Orientations des ménages :</strong>
                                </legend>
                                <fieldset v-for="(value, index) in closingSolutions">
                                    <legend>
                                        <input type="checkbox" name="closingSolution" :id="'closingSolution' + index" :value="value.id" v-model="edit.solutions[value.id].checked">
                                        <label :for="'closingSolution' + index" class="label-inline">{{ value.label }}</label>
                                    </legend>
                                    <div class="solution-people" v-bind:class="{ visible: edit.solutions[value.id].checked }">
                                        <p class="error" v-if="fieldErrors.solutions && fieldErrors.solutions[value.id]">
                                            <ul>
                                                <li v-for="error in fieldErrors.solutions[value.id]">{{ error }}</li>
                                            </ul>
                                        </p>
                                        <p>Nombre de ménages concernés :<br/><input type="number" v-model="edit.solutions[value.id].householdsAffected" /></p>
                                        <p>Nombre de personnes concernées :<br/><input type="number" v-model="edit.solutions[value.id].peopleAffected" /></p>
                                    </div>
                                </fieldset>
                            </fieldset>
                        </div>

                        <div class="notification error" v-if="editError">{{ editError }}.</div>

                        <div class="form__group">
                            <button @click="submitClose" class="button">Valider</button>
                            <button @click="closePopin" class="button secondary">Annuler</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <header class="town-header" ref="header">
            <div class="container">
                <div class="town-name">
                    <div class="town-reference">
                        <h1><span data-cy-data="address">Site {{ town.addressSimple }}</span> <span class="town-usename" data-cy-data="name" v-if="town.name">« {{ town.name }} »</span><span :class="`town-status ${town.status}`">{{ status }}</span></h1>
                        <h2><span data-cy-data="city">{{ town.city.name }}</span></h2>
                    </div>

                    <div class="town-actionButtons">
                        <button v-if="town.status === 'open' && mode !== 'edit' && hasPermission('shantytown.close', town)" @click="setCloseMode" class="button secondary">Fermer le site</button>
                        <button v-if="town.status === 'open' && mode !== 'edit' && hasPermission('shantytown.update', town)" @click="setEditMode" class="button">Mettre à jour</button>
                        <button v-if="mode !== 'edit' && hasPermission('shantytown.delete', town)" @click="destroy" class="button warning" data-cy-button="delete">Supprimer le site</button>
                        <button v-if="mode === 'edit'" @click="submit" class="button">Sauvegarder</button>
                        <button v-if="mode === 'edit'" @click="setViewMode" class="button warning">Annuler</button>
                    </div>
                </div>

                <div class="town-info">
                    <p class="town-links" v-if="town.changelog.length > 0">
                        <span class="link" @click="showAside('changelog')" data-group="sidePanelLink"><font-awesome-icon icon="history"></font-awesome-icon> &nbsp;Modifié le {{ formatDate(town.updatedAt, 'd M y') }} - voir l'historique</span>
                    </p>
                    <p class="town-links" v-if="hasPermission('shantytown_comment.list', town)">
                        <span class="link" @click="showAside('comments')" data-group="sidePanelLink"><font-awesome-icon icon="comment"></font-awesome-icon> &nbsp;{{ town.comments.regular.length }} commentaire{{ town.comments.regular.length > 1 ? 's' : '' }}</span>
                    </p>
                    <p class="town-links town-links--covid" v-if="hasPermission('covid_comment.list')">
                        <span class="link" @click="showAside('covidComments')" data-group="sidePanelLink"><font-awesome-icon icon="comment"></font-awesome-icon> &nbsp;{{ town.comments.covid.length }} commentaire{{ town.comments.covid.length > 1 ? 's' : '' }} COVID-19</span>
                    </p>
                </div>
            </div>
        </header>

        <div class="town-main" ref="main">
            <div class="sidepanel" v-bind:class="{ 'sidepanel--visible': sidePanel !== null }">
                <div class="sidepanel-shadow"></div>

                <div class="sidepanel-wrapper" ref="aside">
                    <div class="sidepanel-actions">
                        <span @click="hideAside"><font-awesome-icon icon="times" size="2x"></font-awesome-icon></span>
                    </div>

                    <div v-if="sidePanel === 'changelog'">
                        <header class="sidepanel-header">
                            <h1 class="sidepanel-title"><font-awesome-icon icon="history"></font-awesome-icon> &nbsp;Historique des modifications</h1>
                        </header>

                        <div class="sidepanel-content">
                            <div class="sidepanel-section" v-for="changelog in town.changelog">
                                <article class="userpost userpost--changelog">
                                    <header class="userpost-header">
                                        <p class="userpost-date"><time>{{ formatDate(changelog.date, 'd M y à h:i') }}</time></p>
                                        <h1 class="userpost-title">
                                            <router-link :to="`/annuaire/${changelog.author.organization.id}`">
                                                <font-awesome-icon icon="user"></font-awesome-icon>
                                                <span>{{ changelog.author.last_name.toUpperCase() }} {{ changelog.author.first_name }}</span>
                                            </router-link>
                                        </h1>
                                    </header>

                                    <p v-for="diff in changelog.diff" class="changelog">
                                        <span class="changelog-name">{{ diff.field }} :</span><br/>
                                        <span class="changelog-oldValue" v-bind:class="{ 'changelog-value--unknown': !diff.oldValue }">{{ diff.oldValue || 'non renseigné' }}</span>,
                                        <span class="changelog-newValue" v-bind:class="{ 'changelog-value--unknown': !diff.newValue }">{{ diff.newValue || 'non renseigné' }}</span>
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div v-if="sidePanel === 'comments'">
                        <header class="sidepanel-header">
                            <h1 class="sidepanel-title"><font-awesome-icon icon="comment"></font-awesome-icon> &nbsp;Commentaires</h1>
                        </header>

                        <div class="sidepanel-content">
                            <div class="sidepanel-section">
                                <div class="comment-form" v-if="hasPermission('shantytown_comment.create', town)">
                                    <h1>Ajouter un commentaire</h1>
                                    <p>Merci de respecter les règles de confidentialité. Ne pas citer l’identité des individus (Nom, âge, sexe, origine...)</p>

                                    <p class="error" v-if="commentErrors.description">
                                        <ul>
                                            <li v-for="error in commentErrors.description">{{ error }}</li>
                                        </ul>
                                    </p>

                                    <div class="input__group">
                                        <textarea v-model="newComment"></textarea>
                                    </div>
                                    <p><button class="button large" @click="addComment">Ajouter le commentaire</button></p>
                                </div>
                            </div>

                            <div class="sidepanel-section" v-if="town.comments.regular.length === 0">
                                <p>Aucun commentaire enregistré pour le moment</p>
                            </div>

                            <div class="sidepanel-section" v-for="comment in town.comments.regular">
                                <article class="userpost userpost--comment">
                                    <header class="userpost-header">
                                        <p class="userpost-date"><time>{{ formatDate(comment.createdAt, 'd M y à h:i') }}</time></p>
                                        <h1 class="userpost-title">
                                            <router-link :to="`/annuaire/${comment.createdBy.organizationId}`">
                                                <font-awesome-icon icon="user"></font-awesome-icon>
                                                <span>{{ comment.createdBy.lastName.toUpperCase() }} {{ comment.createdBy.firstName }}</span>
                                            </router-link>
                                            <span class="userpost-actions">
                                                <font-awesome-icon icon="pencil-alt" class="userpost-action--edit" v-if="canEditComment(comment)" @click="editComment(comment)"></font-awesome-icon>
                                                <font-awesome-icon icon="trash-alt" class="userpost-action--delete" v-if="canDeleteComment(comment)" @click="deleteComment(comment)"></font-awesome-icon>
                                            </span>
                                        </h1>
                                    </header>

                                    <div v-if="commentEdit.commentId === comment.id">
                                        <p class="error" v-if="commentEdit.error">
                                            <ul>
                                                <li>{{ commentEdit.error }}</li>
                                            </ul>
                                        </p>
                                        <textarea v-model="commentEdit.value" :disabled="commentEdit.pending"></textarea>
                                        <p>
                                            <button class="button" @click="sendEditComment(comment)">Modifier</button>
                                            <button class="button warning" @click="cancelEditComment">Annuler</button>
                                        </p>
                                    </div>
                                    <p v-else>{{ comment.description }}</p>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div v-if="sidePanel === 'covidComments'">
                        <header class="sidepanel-header">
                            <h1 class="sidepanel-title"><font-awesome-icon icon="comment"></font-awesome-icon> &nbsp;Commentaires COVID-19</h1>
                        </header>

                        <div class="sidepanel-content">
                            <div class="sidepanel-section">
                                <div class="comment-form">
                                    <h1>Ajouter un commentaire COVID-19</h1>
                                    <p>Merci de préciser votre action, ses modalités, et le nombre de personnes avec des symptômes.</p>
                                    <p>Merci de respecter les règles de confidentialité. Ne pas citer l’identité des individus (Nom, âge, sexe, origine...)</p>

                                    <p class="covid-header error" v-if="covidErrors.length > 0">
                                        <span class="error">Le fomulaire comporte des erreurs :</span>
                                        <ul>
                                            <li v-for="error in covidErrors">{{ error }}</li>
                                        </ul>
                                    </p>

                                    <div class="covid-header">
                                        <label><strong>Date de votre intervention :</strong></label>
                                        <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ to: town ? new Date(town.builtAt * 1000) : undefined, from: new Date() }" :full-month-name="true" :format="'dd MMMM yyyy'" v-model="covidComment.date"></datepicker>
                                    </div>

                                    <p class="covid-header"><strong>Préciser votre intervention :</strong></p>
                                    <div class="input__group">
                                        <label for="covid-equipeMaraude">
                                            <input type="checkbox" id="covid-equipeMaraude" name="covid-equipeMaraude" v-model="covidComment.equipe_maraude" class="input input--checkbox" /> Équipe de maraude
                                        </label>
                                    </div>

                                    <div class="input__group">
                                        <label for="covid-equipeSanitaire">
                                            <input type="checkbox" id="covid-equipeSanitaire" name="covid-equipeSanitaire" v-model="covidComment.equipe_sanitaire" class="input input--checkbox" /> Équipe sanitaire
                                        </label>
                                    </div>

                                    <div class="input__group">
                                        <label for="covid-equipeAccompagnement">
                                            <input type="checkbox" id="covid-equipeAccompagnement" name="covid-equipeAccompagnement" v-model="covidComment.equipe_accompagnement" class="input input--checkbox" /> Équipe d'accompagnement
                                        </label>
                                    </div>

                                    <div class="input__group">
                                        <label for="covid-distributionAlimentaire">
                                            <input type="checkbox" id="covid-distributionAlimentaire" name="covid-distributionAlimentaire" v-model="covidComment.distribution_alimentaire" class="input input--checkbox" /> Distribution d'aide alimentaire
                                        </label>
                                    </div>

                                    <p class="covid-header"><strong>Signaler si nécessaire :</strong></p>
                                    <div class="input__group">
                                        <label for="covid-personnesOrientees">
                                            <input type="checkbox" id="covid-personnesOrientees" name="covid-personnesOrientees" v-model="covidComment.personnes_orientees" class="input input--checkbox" /> Personne(s) orientée(s) vers un centre d'hébergement spécialisé (desserrement)
                                        </label>
                                    </div>

                                    <div class="input__group">
                                        <label for="covid-personnesAvecSymptomes">
                                            <input type="checkbox" id="covid-personnesAvecSymptomes" name="covid-personnesAvecSymptomes" v-model="covidComment.personnes_avec_symptomes" class="input input--checkbox" /> Personne(s) avec des symptômes Covid-19
                                        </label>
                                    </div>

                                    <div class="input__group">
                                        <label for="covid-besoinAction">
                                            <input type="checkbox" id="covid-besoinAction" name="covid-v" v-model="covidComment.besoin_action" class="input input--checkbox" /> Besoin d'une action prioritaire
                                        </label>
                                    </div>

                                    <div class="input__group">
                                        <textarea v-model="covidComment.description"></textarea>
                                    </div>
                                    <p><button class="button large" @click="addCovidComment">Ajouter le commentaire</button></p>
                                </div>
                            </div>

                            <div class="sidepanel-section" v-if="town.comments.covid.length === 0">
                                <p>Aucun commentaire enregistré pour le moment</p>
                            </div>

                            <div class="sidepanel-section" v-for="comment in town.comments.covid">
                                <article class="userpost userpost--comment">
                                    <header class="userpost-header">
                                        <p class="userpost-date">Publié le : <time>{{ formatDate(comment.createdAt, 'd M y à h:i') }}</time></p>
                                        <p class="userpost-date">Date de l'intervention : <time>{{ formatDate(comment.covid.date, 'd M y') }}</time></p>
                                        <h1 class="userpost-title">
                                            <router-link :to="`/annuaire/${comment.createdBy.organizationId}`">
                                                <font-awesome-icon icon="user"></font-awesome-icon>
                                                <span>{{ comment.createdBy.lastName.toUpperCase() }} {{ comment.createdBy.firstName }}</span>
                                            </router-link>
                                        </h1>
                                    </header>
                                    <p v-for="tag in covidTags" v-if="comment.covid[tag.prop] === true" class="covidTag">
                                        <span :class="`rbTag rbTag--${tag.type}`">{{ tag.label }}</span>
                                    </p>
                                    <p>{{ comment.description }}</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SUCCESS STATE -->
            <div class="container">
                <div class="notification error full-width" v-if="deleteError !== null">
                    <span>{{ deleteError }}</span>
                </div>

                <div v-if="view === 'details'">
                    <div v-if="mode === 'view'">
                        <div class="panel">
                            <div class="panel__header">
                                <h3>1. Situation du site</h3>
                            </div>
                            <div class="form__group">
                                <p v-if="town.priority">
                                    <strong>Niveau de priorité du site :</strong> <span data-cy-data="priority">{{ town.priority }}</span>
                                </p>
                                <p v-if="town.builtAt !== undefined">
                                    <strong>Date d'installation du site :</strong> <span data-cy-data="built_at">{{ town.builtAt !== null ? formatDate(town.builtAt) : 'Inconnue' }}</span>
                                </p>
                                <p v-if="town.declaredAt !== undefined">
                                    <strong>Date de signalement du site :</strong> <span data-cy-data="declared_at">{{ town.declaredAt !== null ? formatDate(town.declaredAt) : 'Inconnue' }}</span>
                                </p>
                                <p v-if="town.status !== 'open' && town.closedAt !== undefined">
                                    <strong>Date de disparition du site :</strong> {{ town.closedAt !== null ? formatDate(town.closedAt) : 'Inconnue'}}
                                </p>
                                <p v-if="town.status !== 'open'">
                                    <strong>Cause de la disparition :</strong> {{ statusLabel }}
                                </p>
                                <p v-if="town.status !== 'open' && town.closingSolutions !== undefined">
                                    <strong>Orientation des ménages :</strong><span v-if="town.closingSolutions.length === 0"> aucune</span>
                                    <ul v-if="town.closingSolutions.length > 0">
                                        <li v-for="solution in town.closingSolutions">
                                            <span>{{ closingSolutions.find(s => s.id === solution.id).label }}</span>
                                            <ul>
                                                <li v-for="detail in formatSolution(solution)">{{ detail }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel__header">
                                <h3>2. Localisation</h3>
                            </div>
                            <div class="form__group">
                                <p v-if="town.address !== undefined">
                                    <strong>Adresse :</strong> <span data-cy-data="address">{{ town.address }}</span>
                                </p>
                                <p v-if="town.addressDetails !== undefined">
                                    <strong>Informations d'accès :</strong> <span data-cy-data="address_details">{{ town.addressDetails }}</span>
                                </p>
                                <Map :display-searchbar="false" :towns="[ town ]" :default-view="center"></Map>
                                <p v-if="town.fieldType !== undefined   ">
                                    <strong>Type de site :</strong> <span data-cy-data="field_type">{{ town.fieldType.label }}</span>
                                </p>
                                <p v-if="town.ownerType !== undefined">
                                    <strong>Type de propriétaire :</strong> <span data-cy-data="owner_type">{{ town.ownerType.label }}</span>
                                </p>
                                <p v-if="town.owner !== undefined">
                                    <strong>Propriétaire :</strong> <span data-cy-data="owner">{{ town.owner || 'Inconnu' }}</span>
                                </p>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel__header">
                                <h3>3. Habitants</h3>
                            </div>
                            <div class="form__group">
                                <p v-if="town.censusStatus !== undefined">
                                    <strong>Statut du diagnostic :</strong> <span data-cy-data="census_status">{{ town.censusStatus === 'done' ? 'Réalisé' : (town.censusStatus === 'scheduled' ? 'Prévu' : (town.censusStatus === 'none' ? 'Non prévu' : 'Inconnu')) }}</span>
                                </p>
                                <p v-if="town.censusStatus === 'done' || town.censusStatus === 'scheduled'">
                                    <strong>Date du diagnostic :</strong> <span data-cy-data="census_conducted_at">{{ town.censusConductedAt !== null ? formatDate(town.censusConductedAt) : 'Inconnue' }}</span>
                                </p>
                                <p v-if="town.censusStatus === 'done' || town.censusStatus === 'scheduled'">
                                    <strong>Opérateur en charge du diagnostic :</strong> <span data-cy-data="census_conducted_by">{{ town.censusConductedBy || 'Inconnu' }}</span>
                                </p>
                                <p v-if="town.populationTotal !== undefined">
                                    <strong>Nombre de personnes :</strong> <span data-cy-data="population_total">{{ town.populationTotal !== null ? town.populationTotal : 'inconnu' }}</span>
                                </p>
                                <p v-if="town.populationCouples !== undefined">
                                    <strong>Nombre de ménages :</strong> <span data-cy-data="population_couples">{{ town.populationCouples !== null ? town.populationCouples : 'inconnu' }}</span>
                                </p>
                                <p v-if="town.populationMinors !== undefined">
                                    <strong>Nombre de mineurs :</strong> <span data-cy-data="population_minors">{{ town.populationMinors !== null ? town.populationMinors : 'inconnu' }}</span>
                                </p>
                                <p v-if="town.socialOrigins !== undefined" data-cy-data="social_origins">
                                    <strong>Origines :</strong>
                                    <ul v-if="town.socialOrigins.length > 0">
                                        <li v-for="origin in town.socialOrigins">{{ origin.label }}</li>
                                    </ul>
                                    <span v-else>inconnues</span>
                                </p>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel__header">
                                <h3>4. Conditions de vie</h3>
                            </div>
                            <div class="form__group">
                                <p>
                                    <strong>Accès à l'électricité:</strong> <span data-cy-data="electricity_type">{{ town.electricityType.label }}</span>
                                </p>
                                <p v-if="town.electricityComments">
                                    <strong>Modalités d'accès à l'électricité :</strong> <span data-cy-data="electricity_comments">{{ town.electricityComments }}</span>
                                </p>
                                <p v-if="town.accessToWater !== undefined">
                                    <strong>Accès à l'eau :</strong> <span data-cy-data="access_to_water">{{ town.accessToWater !== null ? (town.accessToWater ? 'Oui' : 'Non') : 'Inconnu' }}</span>
                                </p>
                                <p v-if="town.waterComments">
                                    <strong>Modalités d'accès à l'eau :</strong> <span data-cy-data="water_comments">{{ town.waterComments }}</span>
                                </p>
                                <p v-if="town.accessToSanitary !== undefined">
                                    <strong>Accès aux toilettes :</strong> <span data-cy-data="access_to_sanitary">{{ town.accessToSanitary !== null ? (town.accessToSanitary ? 'Oui' : 'Non') : 'Inconnu' }}</span>
                                </p>
                                <p v-if="town.sanitaryComments">
                                    <strong>Modalités d'accès aux toilettes :</strong> <span data-cy-data="sanitary_comments">{{ town.sanitaryComments }}</span>
                                </p>
                                <p v-if="town.trashEvacuation !== undefined">
                                    <strong>Évacuation des déchets :</strong> <span data-cy-data="trash_evacuation">{{ town.trashEvacuation !== null ? (town.trashEvacuation ? 'Oui' : 'Non') : 'Inconnu' }}</span>
                                </p>
                            </div>
                        </div>

                        <div class="panel" v-if="hasPermission('shantytown.list.data_justice', town)">
                            <div class="panel__header">
                                <h3>5. Procédure judiciaire d’expulsion des occupants</h3>
                            </div>
                            <div class="form__group">
                                <p v-if="town.ownerComplaint !== undefined">
                                    <strong>Dépôt de plainte par le propriétaire :</strong> <span data-cy-data="owner_complaint">{{ town.ownerComplaint === null ? 'Inconnu' : (town.ownerComplaint ? 'Oui' : 'Non') }}</span>
                                </p>
                                <p v-if="town.justiceProcedure !== undefined">
                                    <strong>Existence d’une procédure judiciaire :</strong> <span data-cy-data="justice_procedure">{{ town.justiceProcedure === null ? 'Inconnu' : (town.justiceProcedure ? 'Oui' : 'Non') }}</span>
                                </p>
                                <p v-if="town.justiceProcedure && town.justiceRendered !== undefined">
                                    <strong>Décision de justice rendue :</strong> <span data-cy-data="justice_rendered">{{ town.justiceRendered === null ? 'Inconnu' : (town.justiceRendered ? 'Oui' : 'Non') }}</span>
                                </p>
                                <p v-if="town.justiceRendered && town.justiceRenderedBy !== undefined">
                                    <strong>Origine de la décision :</strong> <span data-cy-data="justice_rendered_by">{{ town.justiceRenderedBy || 'Inconnue' }}</span>
                                </p>
                                <p v-if="town.justiceRendered && town.justiceRenderedAt !== undefined">
                                    <strong>Date de la décision :</strong> <span data-cy-data="justice_rendered_at">{{ town.justiceRenderedAt !== null ? formatDate(town.justiceRenderedAt) : 'Inconnue' }}</span>
                                </p>
                                <p v-if="town.justiceRendered && town.justiceChallenged !== undefined">
                                    <strong>Contentieux relatif à la décision de justice :</strong> <span data-cy-data="justice_challenged">{{ town.justiceChallenged === null ? 'Inconnu' : (town.justiceChallenged ? 'Oui' : 'Non') }}</span>
                                </p>
                                <p v-if="town.policeStatus !== undefined">
                                    <strong>Concours de la force publique :</strong> <span data-cy-data="police_status">{{ town.policeStatus === 'granted' ? 'Obtenu' : (town.policeStatus === 'requested' ? 'Demandé' : 'Inconnu') }}</span>
                                </p>
                                <p v-if="town.policeStatus === 'requested' || town.policeStatus === 'granted'">
                                    <strong>Date de la demande du CFP :</strong> <span data-cy-data="police_requested_at">{{ town.policeRequestedAt !== null ? formatDate(town.policeRequestedAt) : 'Inconnue' }}</span>
                                </p>
                                <p v-if="town.policeStatus === 'requested' || town.policeStatus === 'granted'">
                                    <strong>Date d'octroi du CFP :</strong> <span data-cy-data="police_granted_at">{{ town.policeGrantedAt !== null ? formatDate(town.policeGrantedAt) : 'Inconnue' }}</span>
                                </p>
                                <p v-if="town.bailiff !== undefined">
                                    <strong>Nom de l'étude d'huissiers :</strong> <span data-cy-data="bailiff">{{ town.bailiff || 'Inconnues' }}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div v-if="mode === 'edit'">
                        <div class="panel">
                            <div class="panel__header">
                                <h3>1. Situation du site</h3>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.priority }">Niveau de priorité du site :</label>
                                <p>1 étant le niveau de priorité le plus haut<br/>Le niveau de priorité est un indicateur réservé aux correspondants des services de l’État.</p>
                                <p class="error" v-if="fieldErrors.priority">
                                    <ul>
                                        <li v-for="error in fieldErrors.priority">{{ error }}</li>
                                    </ul>
                                </p>

                                <select data-cy-field="priority" v-model="edit.priority">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.built_at }">Date d'installation du site :</label>
                                <p class="error" v-if="fieldErrors.built_at">
                                    <ul>
                                        <li v-for="error in fieldErrors.built_at">{{ error }}</li>
                                    </ul>
                                </p>
                                <datepicker data-cy-field="built_at" :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" :full-month-name="true" :format="'dd MMMM yyyy'" v-model="edit.builtAt"></datepicker>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.declared_at }">Date de signalement du site :</label>
                                <p class="error" v-if="fieldErrors.declared_at">
                                    <ul>
                                        <li v-for="error in fieldErrors.declared_at">{{ error }}</li>
                                    </ul>
                                </p>
                                <datepicker data-cy-field="declared_at" :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="edit.declaredAt" :full-month-name="true" :format="'dd MMMM yyyy'" clearButton="true"></datepicker>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel__header">
                                <h3>2. Localisation</h3>
                            </div>
                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.address }">Localisation géographique</label>
                                <p class="error" v-if="fieldErrors.address">
                                    <ul>
                                        <li v-for="error in fieldErrors.address">{{ error }}</li>
                                    </ul>
                                </p>
                                <p>Saisissez ici l'adresse du site, puis précisez sa position en déplaçant le point sur la carte.</p>
                                <AddressWithLocation data-cy-field="address" v-model="edit.address"></AddressWithLocation>
                            </div>

                            <div class="form__group">
                                <label>Appellation du site :</label>
                                <p class="error" v-if="fieldErrors.name">
                                    <ul>
                                        <li v-for="error in fieldErrors.name">{{ error }}</li>
                                    </ul>
                                </p>
                                <p>Exemples : Entrepôt de la Poste, Rond-point du centre...</p>
                                <div class="input__group">
                                    <input data-cy-field="name" type="text" v-model="edit.name" maxlength="35">
                                </div>
                            </div>

                            <div class="form__group">
                                <label>Informations d'accès :</label>
                                <p>Saisissez ici toutes les informations qui, en plus de l'adresse, peuvent être utiles pour l'accès au site :</p>
                                <div class="input__group">
                                    <input data-cy-field="address_details" type="text" v-model="edit.detailedAddress">
                                </div>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.field_type }">Type de site :</legend>
                                    <p class="error" v-if="fieldErrors.field_type">
                                        <ul>
                                            <li v-for="error in fieldErrors.field_type">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div v-for="(type, index) in fieldTypes">
                                        <input data-cy-field="field_type" :data-cy-label="type.label" type="radio" :id="'fieldType' + index" :value="type.id" v-model="edit.fieldType">
                                        <label :for="'fieldType' + index" class="label-inline">{{ type.label }}</label>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.owner_type }">Type de propriétaire :</legend>
                                    <p class="error" v-if="fieldErrors.owner_type">
                                        <ul>
                                            <li v-for="error in fieldErrors.owner_type">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div v-for="(type, index) in ownerTypes">
                                        <input data-cy-field="owner_type" :data-cy-label="type.label" type="radio" :id="'ownerType' + index" :value="type.id" v-model="edit.ownerType">
                                        <label :for="'ownerType' + index" class="label-inline">{{ type.label }}</label>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form__group" v-if="ownerTypes.find((type) => { return type.label !== 'Inconnu' && type.id === edit.ownerType; })">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.owner }">Identité du propriétaire :</legend>
                                    <p class="error" v-if="fieldErrors.owner">
                                        <ul>
                                            <li v-for="error in fieldErrors.owner">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div class="input__group">
                                        <input data-cy-field="owner" type="text" v-model="edit.owner" />
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel__header">
                                <h3>3. Habitants</h3>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.census_status }">Statut du diagnostic social :</label>
                                <p class="error" v-if="fieldErrors.census_status">
                                    <ul>
                                        <li v-for="error in fieldErrors.census_status">{{ error }}</li>
                                    </ul>
                                </p>
                                <p>Un diagnostic social vise à identifier les situations et besoins des familles et personnes, de repérer le contexte territorial et les acteurs en présence.</p>
                                <div v-for="(value, index) in diagnosisValues">
                                    <input data-cy-field="census_status" :data-cy-label="value.label" type="radio" name="diagnosis" :id="'diagnosis' + index" :value="value.value" v-model="edit.census_status">
                                    <label :for="'diagnosis' + index" class="label-inline">{{ value.label }}</label>
                                </div>
                            </div>

                            <div class="form__group" v-if="edit.census_status === 'scheduled' || edit.census_status === 'done'">
                                <label v-bind:class="{ error: fieldErrors.census_conducted_at }">Date du diagnostic :</label>
                                <p class="error" v-if="fieldErrors.census_conducted_at">
                                    <ul>
                                        <li v-for="error in fieldErrors.census_conducted_at">{{ error }}</li>
                                    </ul>
                                </p>
                                <datepicker data-cy-field="census_conducted_at" :language="dateLanguage" :monday-first="true" v-model="edit.census_conducted_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                            </div>

                            <div class="form__group" v-if="edit.census_status === 'scheduled' || edit.census_status === 'done'">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.census_conducted_by }">Service ou opérateur en charge du diagnostic :</legend>
                                    <p class="error" v-if="fieldErrors.census_conducted_by">
                                        <ul>
                                            <li v-for="error in fieldErrors.census_conducted_by">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div class="input__group">
                                        <input data-cy-field="census_conducted_by" type="text" v-model="edit.census_conducted_by" />
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.population_total }">Nombre de personnes :</label>
                                <p class="error" v-if="fieldErrors.population_total">
                                    <ul>
                                        <li v-for="error in fieldErrors.population_total">{{ error }}</li>
                                    </ul>
                                </p>
                                <p>Laissez ce champ vide si l'information est inconnue</p>
                                <div class="input__group">
                                    <input data-cy-field="population_total" type="number" v-model="edit.populationTotal">
                                </div>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.population_couples }">Nombre de ménages :</label>
                                <p class="error" v-if="fieldErrors.population_couples">
                                    <ul>
                                        <li v-for="error in fieldErrors.population_couples">{{ error }}</li>
                                    </ul>
                                </p>
                                <p>Laissez ce champ vide si l'information est inconnue</p>
                                <div class="input__group">
                                    <input data-cy-field="population_couples" type="number" v-model="edit.populationCouples">
                                </div>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.population_minors }">Nombre de mineurs :</label>
                                <p class="error" v-if="fieldErrors.population_minors">
                                    <ul>
                                        <li v-for="error in fieldErrors.population_minors">{{ error }}</li>
                                    </ul>
                                </p>
                                <p>Laissez ce champ vide si l'information est inconnue</p>
                                <div class="input__group">
                                    <input data-cy-field="population_minors" type="number" v-model="edit.populationMinors">
                                </div>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend>Origines :</legend>
                                    <div>
                                        <p>Ne rien cocher si l'information est inconnue</p>
                                        <div v-for="(origin, index) in socialOrigins">
                                            <input data-cy-field="social_origins" :data-cy-label="origin.label" type="checkbox" :id="'socialOrigins' + index" :value="origin.id" v-model="edit.origins">
                                            <label :for="'socialOrigins' + index" class="label-inline">{{ origin.label }}</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel__header">
                                <h3>4. Conditions de vie</h3>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.electricity_type }">Accès à l'électricité :</legend>
                                    <p class="error" v-if="fieldErrors.electricity_type">
                                        <ul>
                                            <li v-for="error in fieldErrors.electricity_type">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div v-for="(type, index) in electricityTypes">
                                        <input data-cy-field="electricity_type" :data-cy-label="type.label" type="radio" name="electricityType" :id="'electricityType' + index" :value="type.id" v-model="edit.electricityType">
                                        <label :for="'electricityType' + index" class="label-inline">{{ type.label }}</label>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.electricity_comments }">Modalités d'accès :</legend>
                                    <p>Exemples : groupe électrogène, raccordement à une usine...</p>
                                    <p class="error" v-if="fieldErrors.electricity_comments">
                                        <ul>
                                            <li v-for="error in fieldErrors.electricity_comments">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <textarea data-cy-field="electricity_comments" class="input input--textarea" v-model="edit.electricityComments"></textarea>
                                </fieldset>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.access_to_water }">Accès à l'eau :</legend>
                                    <p class="error" v-if="fieldErrors.access_to_water">
                                        <ul>
                                            <li v-for="error in fieldErrors.access_to_water">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div v-for="(value, index) in yesnoValues">
                                        <input data-cy-field="access_to_water" :data-cy-label="value.label" type="radio" name="accessToWater" :id="'accessToWater' + index" :value="value.value" v-model="edit.accessToWater">
                                        <label :for="'accessToWater' + index" class="label-inline">{{ value.label }}</label>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.water_comments }">Modalités d'accès :</legend>
                                    <p>Exemples: Citerne de 100 litres remplie par les pompiers tous les jours, 3 robinets raccordés par la collectivité, borne incendie à 200 mètres...</p>
                                    <p class="error" v-if="fieldErrors.water_comments">
                                        <ul>
                                            <li v-for="error in fieldErrors.water_comments">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <textarea data-cy-field="water_comments" class="input input--textarea" v-model="edit.waterComments"></textarea>
                                </fieldset>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.access_to_sanitary }">Accès à des toilettes :</legend>
                                    <p class="error" v-if="fieldErrors.access_to_sanitary">
                                        <ul>
                                            <li v-for="error in fieldErrors.access_to_sanitary">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div v-for="(value, index) in yesnoValues">
                                        <input data-cy-field="access_to_sanitary" :data-cy-label="value.label" type="radio" name="accessToSanitary" :id="'accessToSanitary' + index" :value="value.value" v-model="edit.accessToSanitary">
                                        <label :for="'accessToSanitary' + index" class="label-inline">{{ value.label }}</label>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.sanitary_comments }">Modalités d'accès :</legend>
                                    <p>Exemples : 3 toilettes sèches, toilettes raccordés au réseau, un bloc sanitaire fourni par la ville...</p>
                                    <p class="error" v-if="fieldErrors.sanitary_comments">
                                        <ul>
                                            <li v-for="error in fieldErrors.sanitary_comments">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <textarea data-cy-field="sanitary_comments" class="input input--textarea" v-model="edit.sanitaryComments"></textarea>
                                </fieldset>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.trash_evacuation }">Évacuation des déchets :</legend>
                                    <p class="error" v-if="fieldErrors.trash_evacuation">
                                        <ul>
                                            <li v-for="error in fieldErrors.trash_evacuation">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div v-for="(value, index) in yesnoValues">
                                        <input data-cy-field="trash_evacuation" :data-cy-label="value.label" type="radio" name="trashEvacuation" :id="'trashEvacuation' + index" :value="value.value" v-model="edit.trashEvacuation">
                                        <label :for="'trashEvacuation' + index" class="label-inline">{{ value.label }}</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="panel" v-if="hasPermission('shantytown.update.data_justice', town)">
                            <div class="panel__header">
                                <h3>5. Procédure judiciaire d’expulsion des occupants</h3>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.owner_complaint }">Dépôt de plainte par le propriétaire :</label>
                                <p class="error" v-if="fieldErrors.owner_complaint">
                                    <ul>
                                        <li v-for="error in fieldErrors.owner_complaint">{{ error }}</li>
                                    </ul>
                                </p>
                                <div v-for="(value, index) in yesnoValues">
                                    <input data-cy-field="owner_complaint" :data-cy-label="value.label" type="radio" name="ownerComplaint" :id="'ownerComplaint' + index" :value="value.value" v-model="edit.owner_complaint">
                                    <label :for="'ownerComplaint' + index" class="label-inline">{{ value.label }}</label>
                                </div>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.justice_procedure }">Procédure judiciaire en cours :</label>
                                <p class="error" v-if="fieldErrors.justice_procedure">
                                    <ul>
                                        <li v-for="error in fieldErrors.justice_procedure">{{ error }}</li>
                                    </ul>
                                </p>
                                <div v-for="(value, index) in yesnoValues">
                                    <input data-cy-field="justice_procedure" :data-cy-label="value.label" type="radio" name="justiceProcedure" :id="'justiceProcedure' + index" :value="value.value" v-model="edit.justiceProcedure">
                                    <label :for="'justiceProcedure' + index" class="label-inline">{{ value.label }}</label>
                                </div>
                            </div>

                            <div class="form__group" v-if="edit.justiceProcedure === 1">
                                <label v-bind:class="{ error: fieldErrors.justice_rendered }">Décision de justice rendue :</label>
                                <p class="error" v-if="fieldErrors.justice_rendered">
                                    <ul>
                                        <li v-for="error in fieldErrors.justice_rendered">{{ error }}</li>
                                    </ul>
                                </p>
                                <div v-for="(value, index) in yesnoValues">
                                    <input data-cy-field="justice_rendered" :data-cy-label="value.label" type="radio" name="justiceRendered" :id="'justiceRendered' + index" :value="value.value" v-model="edit.justice_rendered">
                                    <label :for="'justiceRendered' + index" class="label-inline">{{ value.label }}</label>
                                </div>
                            </div>

                            <div class="form__group" v-if="edit.justiceProcedure === 1 && edit.justice_rendered === 1">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.justice_rendered_by }">Origine de la décision :</legend>
                                    <p class="error" v-if="fieldErrors.justice_rendered_by">
                                        <ul>
                                            <li v-for="error in fieldErrors.justice_rendered_by">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div class="input__group">
                                        <input data-cy-field="justice_rendered_by" type="text" v-model="edit.justice_rendered_by" />
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form__group" v-if="edit.justiceProcedure === 1 && edit.justice_rendered === 1">
                                <label v-bind:class="{ error: fieldErrors.justice_rendered_at }">Date de la décision :</label>
                                <p class="error" v-if="fieldErrors.justice_rendered_at">
                                    <ul>
                                        <li v-for="error in fieldErrors.justice_rendered_at">{{ error }}</li>
                                    </ul>
                                </p>
                                <datepicker data-cy-field="justice_rendered_at" :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="edit.justice_rendered_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                            </div>

                            <div class="form__group" v-if="edit.justiceProcedure === 1 && edit.justice_rendered === 1">
                                <label v-bind:class="{ error: fieldErrors.justice_challenged }">Contentieux relatif à la décision de justice :</label>
                                <p class="error" v-if="fieldErrors.justice_challenged">
                                    <ul>
                                        <li v-for="error in fieldErrors.justice_challenged">{{ error }}</li>
                                    </ul>
                                </p>
                                <div v-for="(value, index) in yesnoValues">
                                    <input data-cy-field="justice_challenged" :data-cy-label="value.label" type="radio" name="justiceChallenged" :id="'justiceChallenged' + index" :value="value.value" v-model="edit.justice_challenged">
                                    <label :for="'justiceChallenged' + index" class="label-inline">{{ value.label }}</label>
                                </div>
                            </div>

                            <div class="form__group">
                                <label v-bind:class="{ error: fieldErrors.police_status }">Concours de la force publique :</label>
                                <p class="error" v-if="fieldErrors.police_status">
                                    <ul>
                                        <li v-for="error in fieldErrors.police_status">{{ error }}</li>
                                    </ul>
                                </p>
                                <div v-for="(value, index) in cfpValues">
                                    <input data-cy-field="police_status" :data-cy-label="value.label" type="radio" name="cfp" :id="'cfp' + index" :value="value.value" v-model="edit.police_status">
                                    <label :for="'cfp' + index" class="label-inline">{{ value.label }}</label>
                                </div>
                            </div>

                            <div class="form__group" v-if="edit.police_status === 'requested' || edit.police_status === 'granted'">
                                <label v-bind:class="{ error: fieldErrors.police_requested_at }">Date de la demande du CFP :</label>
                                <p class="error" v-if="fieldErrors.police_requested_at">
                                    <ul>
                                        <li v-for="error in fieldErrors.police_requested_at">{{ error }}</li>
                                    </ul>
                                </p>
                                <datepicker data-cy-field="police_requested_at" :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="edit.police_requested_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                            </div>

                            <div class="form__group" v-if="edit.police_status === 'granted'">
                                <label v-bind:class="{ error: fieldErrors.police_granted_at }">Date d'octroi du CFP :</label>
                                <p class="error" v-if="fieldErrors.police_granted_at">
                                    <ul>
                                        <li v-for="error in fieldErrors.police_granted_at">{{ error }}</li>
                                    </ul>
                                </p>
                                <datepicker data-cy-field="police_granted_at" :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="edit.police_granted_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                            </div>

                            <div class="form__group">
                                <fieldset>
                                    <legend v-bind:class="{ error: fieldErrors.bailiff }">Nom de l'étude d'huissiers :</legend>
                                    <p class="error" v-if="fieldErrors.bailiff">
                                        <ul>
                                            <li v-for="error in fieldErrors.bailiff">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div class="input__group">
                                        <input data-cy-field="bailiff" type="text" v-model="edit.bailiff" />
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="notification error" v-if="editError">{{ editError }}.</div>

                        <div class="form__group">
                            <button class="button large" @click="submit" data-cy-field="submit">Sauvegarder</button>
                        </div>
                    </div>
                </div>

                <!-- actions -->
                <div v-else-if="view === 'actions'">
                    <div class="panel" v-for="action in town.actions">
                        <div class="panel__header">
                            <h3><router-link :to="'/action/' + action.id">{{ action.name }}</router-link> - <small class="panel__header-extra">Débutée le {{ formatDate(action.startedAt) }}</small></h3>
                        </div>
                        <p><strong>Type de l'action :</strong> {{ action.type }}</p>
                        <p><strong>Détails de l'action :</strong></p>
                        <p>{{ action.description || 'Aucun détails fournis' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
