<div class="v1">
    <div class="page--withMargin">
        <NavBar></NavBar>

        //- state: loading in progress
        <section v-if="state === 'loading'" class="section section-white">
            <div class="container">
                <div  class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>
            </div>
        </section>

        //- state: loading failed
        <section v-if="state === 'error'" class="section section-white">
            <div class="container">
                <div class="notification error full-width">
                    <span>{{ error }}. <a href="#" @click="retryLoading">Réessayer ?</a></span>
                </div>
            </div>
        </section>

        //- state: loaded
        <section v-if="state === 'loaded'" class="section section-white">
            <div class="container">
                <header>
                    <div>
                        <hgroup>
                            <h3>Covid-19</h3>
                        </hgroup>
                        <p>L'ensemble des commentaires sur votre territoire (département ou région)</p>

                        <SlideNote title="Écrire un commentaire 'Territoire'" v-if="canSubmitHighComment" :opened="true" icon="comment">
                            <template slot="content">
                                <p>Les commentaires "territoires" permettent de partager des informations sur le pilotage, la coordination et l'organisation retenus au niveau local.</p>

                                <p>
                                    <span><strong>Territoire(s) concerné(s) par votre commentaire :</strong></span><br/>
                                    <ul class="input--checkbox">
                                        <li v-for="(option, index) in allowedDepartements" class="input--checkbox-option">
                                            <label :for="`input${_uid}-${index}`">
                                                <input type="checkbox" :id="`input${_uid}-${index}`" :value="option.code" :name="`input${_uid}`" v-model="highCovidComment.data.departements" class="input input--checkbox" :disabled="highCovidComment.pending || allowedDepartements.length <= 1" /> {{ option.code + ' - ' + option.name }}
                                            </label>
                                        </li>
                                    </ul>
                                </p>

                                <p>
                                    <span><strong>Votre commentaire :</strong></span><br/>
                                    <textarea class="input input--textarea" v-model="highCovidComment.data.description" :disabled="highCovidComment.pending" :readonly="highCovidComment.pending"></textarea>
                                </p>

                                <p class="error" v-if="highCovidComment.error !== null">
                                    <span class="error">{{ highCovidComment.error.message }}</span>
                                </p>

                                <p>
                                    <button class="form-stepButton button" @click="submitHighCovidComment" :disabled="highCovidComment.pending">
                                        <span v-if="!highCovidComment.pending">Envoyer</span>
                                        <img v-else src="/img/spinner_light.svg" width="20" />
                                    </button>
                                </p>
                            </template>
                        </SlideNote>
                    </div>

                    <div class="switch">
                        <button v-bind:class="{ active: filter === 'all' }" @click="setFilter('all')">Tous</button><button v-bind:class="{ active: filter === 'regular' }" @click="setFilter('regular')">Commentaires "Sites"</button><button v-bind:class="{ active: filter === 'high' }" @click="setFilter('high')">Commentaires "Territoire"</button>
                    </div>
                </header>

                <Table class="userActivity" :columns="columns" :content="parsedActivities" :emptyLabel="'Aucune activité trouvée pour les filtres sélectionnés'" @click="onRowClick">
                    <template v-slot:date="props"><strong>{{ props.row.date }}</strong><br/>à {{ props.row.time }}</template>

                    <template v-slot:author="props">
                        <font-awesome-icon icon="user" class="link"></font-awesome-icon> &nbsp;
                        <router-link data-group="link" :to="`/annuaire/${props.row.author.organization}`" class="link">{{ props.row.author.name }}</router-link>
                    </template>

                    <template v-slot:activity="props">
                        <span class="userActivity-action" v-if="props.row.covid">
                            <font-awesome-icon :icon="props.row.icon"></font-awesome-icon> {{ props.row.action }} site : {{ props.row.address }}
                        </span>
                        <span class="userActivity-action" v-else>
                            <font-awesome-icon :icon="props.row.icon"></font-awesome-icon> Commentaire sur le territoire : {{ props.row.highCovid.departements.map(({ code }) => code ).join(', ') }}
                        </span>

                        <div class="userActivity-content">
                            <p v-if="props.row.covid">
                                <span v-for="tag in covidTags" v-if="props.row.covid[tag.prop] === true" :class="`rbTag rbTag--${tag.type}`">{{ tag.label }}</span>
                            </p>
                            <p v-if="props.row.covid">Date de l'intervention : {{ formatDate(props.row.covid.date) }}</p>
                            <p v-html="props.row.content"></p>
                        </div>
                    </template>
                </Table>
            </div>
        </section>
    </div>
</div>
